/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557
LIGHT NIGHT BLUE: #7D8C9A
BEIGE: #DCAC7E
GREEN: #5A716A

*/

body {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #F1FAEE;
}

img {
    width: 200px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
    margin: 0;
    background-color: #1D3557;
    padding: 7px 15px;
    border-radius: 10px;
}

h2 {
    font-size: 20px;
    background-color: #7D8C9A;
    background-blend-mode: lighten;
    padding: 7px 15px;
    border-radius: 10px;
}

h3 {
    font-size: 30px;
    margin: 0;
}

h4 {
    font-size: 20px;
    margin: 10px 0 0 0;
    
}



#hero-section {
    display: block;
    background-image: url("images/istanbul-horizontal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 0; 
}

#activities-section {
    display: block;
    margin: 0;
    padding: 50px 15px;
    background-color: #1D3557;
}

.activity-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    
}
 
.activity-cards .divider img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.divider {
    background-color: #7D8C9A;
    padding: 40px 15px;
    border-radius: 20px;
    color: white;

}

#guide-section {
    display: block;   
    justify-items: center;
    align-items: center;        
    background-color: #1D3557;
    padding: 40px 15px;
    
}

.guide-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background-color: #7D8C9A;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 0 100px;
}   

